.ratecard-table {
    table-layout: fixed;
    width: 100%;

    td {
        padding: 0.8rem;
        margin: 1rem;
        font-size: small;
        border-bottom: 1px solid rgb(212, 212, 212);
    }

    th {
        font-weight: 300;
        padding: 1rem;
        width: 5rem;

    }
}